/* Style by tag */
h1 {
  color: rgb(220, 220, 220);
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 180%;
  text-align: center;
}

p {
  background-color: rgb(0, 20, 40);
}

form {
  background-color: rgb(0, 20, 40);
}

pre {
  color: rgb(220, 220, 220);
  font-family: "Roboto", sans-serif;
  font-size: 120%;
  text-align: center;
  background-color: rgb(0, 20, 40);
}

head {
  background-color: rgb(0, 20, 40);
  color: rgb(210, 210, 210);
  background-color: rgb(0, 20, 40);
}

body {
  font-size: 100%;
  font-style: normal;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: rgb(240, 240, 240);
  background-color: rgb(0, 20, 40);
  background-image: url("~/Templates/Background_horizontal.jpg");
}

/* Style by id */
#content {
  font-size: 100%;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: rgb(240, 240, 240);
  background-color: rgb(0, 20, 40);
}

/* Style by class */
.content {
  font-size: 100%;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: rgb(240, 240, 240);
  background-color: rgb(0, 20, 40);
}

.title {
  font-size: 240%;
  position: center, top, fixed;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  color: rgb(200, 200, 200);
  background-color: rgb(0, 20, 40);
}
