{% extends "layout.html" %}

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/static/makeitpretty.css">
<!-- Neither the background-color, nor the font-color work from the CSS file,
so I had to change the background in the layout and font-color in each file.
I know it doesn't look very classy, but it didn't seem to work otherwise,
I don't know why... I left the CSS file though, in case it works one day.-->
<font color="white">{% block content %}</font>

<h1>You Died!</h1>
<div id="content">
<font color="white">Looks like you bit the dust...</font>

<p><a href="/">Play Again?</a></p>
</div>
{% endblock %}</font>
